<div class="panel">
    <p class="panel-heading">
        Required Classes
    </p>
    <label class="panel-block">
        <input type="checkbox">
        Design Nature
    </label>
    <label class="panel-block">
        <input type="checkbox">
        Intro to Sensors, Instrumentation, and Measurement
    </label>
    <label class="panel-block">
        <input type="checkbox">
        Modeling and Simulation
    </label>
    <label class="panel-block">
        <input type="checkbox">
        Products and Markets
    </label>
    <label class="panel-block">
        <input type="checkbox">
        User Oriented Collaborative Design
    </label>
    <label class="panel-block">
        <input type="checkbox">
        Principles of Engineering
    </label>
    <label class="panel-block">
        <input type="checkbox">
        Linearity I
    </label>
    <label class="panel-block">
        <input type="checkbox">
        Linearity II
    </label>
</div>


<div class="panel">
    <p class="panel-heading">
        General Requirements
    </p>
    <label class="panel-block">
        <input type="checkbox">
        Probability and Statistics
    </label>
    <label class="panel-block">
        <input type="checkbox">
        Biology Foundation
    </label>
    <label class="panel-block">
        <input type="checkbox">
        Chemistry/Material Science Foundation
    </label>
    <label class="panel-block">
        <input type="checkbox">
        Physics Foundation
    </label>
    <label class="panel-block">
        <input type="checkbox">
        Design Depth
    </label>
</div>


<div class="panel">
    <p class="panel-heading">
        Arts, Humanities, Social Science
    </p>
    <label class="panel-block">
        <input type="checkbox">
        AHS Foundation
    </label>
    <label class="panel-block">
        <input type="checkbox">
        Elective 1
    </label>
    <label class="panel-block">
        <input type="checkbox">
        Elective 2
    </label>
    <label class="panel-block">
        <input type="checkbox">
        Elective 3
    </label>
</div>


<div class="panel">
    <p class="panel-heading">
        Major Requirements
    </p>
    <label class="panel-block">
        <input type="checkbox">
        Software Design
    </label>
    <label class="panel-block">
        <input type="checkbox">
        Discrete Math
    </label>
    <label class="panel-block">
        <input type="checkbox">
        Software Systems
    </label>
    <label class="panel-block">
        <input type="checkbox">
        Foundations of Computer Science
    </label>
    <label class="panel-block">
        <input type="checkbox">
        Elective 1
    </label>
    <label class="panel-block">
        <input type="checkbox">
        Elective 2
    </label>
</div>