<div class="panel">
    <p class="planel-heading">
        Required Classes
    </p>
    <div class="requirement-listings" *ngFor="let requirement of requirements">
    <label class="panel-block">
        <input type="checkbox" (click)="toggle($event)">
        {{ requirement.name }}
    </label>
</div>
</div>




<!-- <div class="panel">
    <p class="panel-heading">
        Required Classes
    </p>
    <label class="panel-block">
        <input (click)="toggle($event)" name="desnat" type="checkbox">
        Design Nature
    </label>
    <label class="panel-block">
        <input (click)="toggle($event)" name="isim" type="checkbox">
        Intro to Sensors, Instrumentation, and Measurement
    </label>
    <label class="panel-block">
        <input [checked]="modtest" (change)="modtest = !modtest" type="checkbox">
        Modeling and Simulation
    </label>
    <label class="panel-block">
        <input (click)="toggle($event)" name="pandm" type="checkbox">
        Products and Markets
    </label>
    <label class="panel-block">
        <input (click)="toggle($event)" name="uocd" type="checkbox">
        User Oriented Collaborative Design
    </label>
    <label class="panel-block">
        <input (click)="toggle($event)" name="poe" type="checkbox">
        Principles of Engineering
    </label>
    <label class="panel-block">
        <input (click)="toggle($event)" name="lin1" type="checkbox">
        Linearity I
    </label>
    <label class="panel-block">
        <input (click)="toggle($event)" name="lin2" type="checkbox">
        Linearity II
    </label>
</div>


<div class="panel">
    <p class="panel-heading">
        General Requirements
    </p>
    <label class="panel-block">
        <input (click)="toggle($event)" name="probstatFoundation" type="checkbox">
        Probability and Statistics
    </label>
    <label class="panel-block">
        <input (click)="toggle($event)" name="biologyFoundation" type="checkbox">
        Biology Foundation
    </label>
    <label class="panel-block">
        <input (click)="toggle($event)" name="chemistryFoundation" type="checkbox">
        Chemistry/Material Science Foundation
    </label>
    <label class="panel-block">
        <input (click)="toggle($event)" name="physicsFoundation" type="checkbox">
        Physics Foundation
    </label>
    <label class="panel-block">
        <input (click)="toggle($event)" name="designDepth" type="checkbox">
        Design Depth
    </label>
</div>


<div class="panel">
    <p class="panel-heading">
        Arts, Humanities, Social Science
    </p>
    <label class="panel-block">
        <input (click)="toggle($event)" name="ahsFoundation" type="checkbox">
        AHS Foundation
    </label>
    <label class="panel-block">
        <input (click)="toggle($event)" name="ahs1Concentration" type="checkbox">
        Elective 1
    </label>
    <label class="panel-block">
        <input (click)="toggle($event)" name="ahs2Concentration" type="checkbox">
        Elective 2
    </label>
    <label class="panel-block">
        <input (click)="toggle($event)" name="ahs3Concentration" type="checkbox">
        Elective 3
    </label>
</div>


<div class="panel">
    <p class="panel-heading">
        Major Requirements
    </p>
    <label class="panel-block">
        <input (click)="toggle($event)" name="softwareDesign" type="checkbox">
        Software Design
    </label>
    <label class="panel-block">
        <input (click)="toggle($event)" name="discrete" type="checkbox">
        Discrete Math
    </label>
    <label class="panel-block">
        <input (click)="toggle($event)" name="softwareSystems" ype="checkbox">
        Software Systems
    </label>
    <label class="panel-block">
        <input (click)="toggle($event)" name="focs" type="checkbox">
        Foundations of Computer Science
    </label>
    <label class="panel-block">
        <input (click)="toggle($event)" name="elective1" type="checkbox">
        Elective 1
    </label>
    <label class="panel-block">
        <input (click)="toggle($event)" name="elective2" type="checkbox">
        Elective 2
    </label>
</div> -->