

<div class="tasks-container"
cdkDropList
[cdkDropListData]="first"
(cdkDropListDropped)="drop($event)">

  <div class="card" *ngFor="let each of first" cdkDrag [cdkDragData]="each">
    <div class="card-content">
        <a (click)="onDeleteCourseClick(each._id)" class="delete"></a>
      <div class="content">
        <div class="course-header">
        <div class="course-name">{{ each.name }}  </div>
        <div class="course-tag is-size-7"> {{ each.tag }} </div>
      </div>

        <div class="tags">
          <span *ngIf="each.credits[0]" class="tag engr">{{ each.credits[0] }}ENGR </span>
          <span *ngIf="each.credits[1]" class="tag mth">{{ each.credits[1] }}MTH </span>
          <span *ngIf="each.credits[2]" class="tag sci">{{ each.credits[2] }}SCI </span>
          <span *ngIf="each.credits[3]" class="tag ahs">{{ each.credits[3] }}AHS </span>
        </div>
      </div>
    </div>

  </div>
  </div>
