.root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.icon-container {
    position: absolute;
    bottom:0;
    margin-bottom: 20px;
    width: 100%;
}

.icon {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.side-nav {
    background:lightcyan;
    min-width: 80px;
    max-width: 80px;
    position: relative;
}

.requirements-container {
        display: flex;
        flex-direction: column;

        flex-grow: 1;
        flex-basis: 0;
        height: auto;

        min-width: 300px;
        max-width: 300px;
        margin-top: 20px;
}

.board {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    min-width: 1300px;
    max-width: 1300px;

    .board-wrapper {
        display: flex;
        flex-grow: 1;
        overflow-x: auto;

        .board-columns {
            display: flex;
            flex-grow: 1;
            height: auto;


            .board-column {
                display: flex;
                flex-direction: column;

                flex-grow: 1;
                flex-basis: 0;
                height: auto;

                min-width: 300px;
                max-width: 300px;
                margin: 20px;
                padding: 15px;


                background: rgba(white, 0.5);

                &:not(:first-child) {
                    margin-left: 0;
                }

                .column-title {
                    font-size: 20px;
                    font-weight: 800;
                    font-family: 'Lato', sans-serif;
                    text-transform: uppercase;
                    margin-bottom: 14px;
                }
            }
        }
    }
}