<div class="root">

    <div class="board">

        <div class="board-wrapper">
            <div class="board-columns" cdkDropListGroup>
                <div class="board-column" *ngFor="let column of board.columns; let i=index">
                    <div class="column-title">
                        {{ column.name }}
                    </div>
                    <app-column-view [year]="i+1"></app-column-view>
                </div>
            </div>
        </div>




    </div>

    <div class="o">
        <button class="button is-primary has-text-white" routerLink="/add-course">+ add course</button>
        <button class="button is-primary has-text-white" routerLink="/add-course-listing">+ add course listing</button>
    </div>
</div>