<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">Add a New Course </h1>
        <form #newcourse="ngForm" (ngSubmit)="onClickSubmit(newcourse.value)">
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <app-search [courseName]="courseName" (newName)="onChangeName($event)"></app-search>
                </div>
            </div>

            <div class="field">
                <label class="label">Year</label>

                <div class="control">
                    <label class="radio" checked>
                        <input type="radio" value=1 name="year" ngModel>
                        Freshmen
                    </label>
                    <label class="radio">
                        <input type="radio" value=2 name="year" ngModel>
                        Sophomore
                    </label>
                    <label class="radio">
                        <input type="radio" value=3 name="year" ngModel>
                        Junior
                    </label>
                    <label class="radio">
                        <input type="radio" value=4 name="year" ngModel>
                        Senior
                    </label>
                </div>
            </div>

            <div class="field">
                <label class="label">Tag</label>
                <div class="control">
                    <div class="select">
                        <select class="input has-background-light" name="requirement" ngModel>
                            <option>General Requirement</option>
                            <option>Major Requirement</option>
                            <option>Probability and Statistics</option>
                            <option>Biology Foundation</option>
                            <option>Chemistry Foundation</option>
                            <option>Chemistry/Materials Science Foundation</option>
                            <option>Physics Foundation</option>
                            <option>Design Depth</option>
                            <option>AHS Foundation</option>
                            <option>AHS Concentration 1</option>
                            <option>AHS Concentration 2</option>
                            <option>AHS Concentration 3</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Credits</label>
                <div class="control credit-wrapper has-addons">
                    <div class="credit-group">
                        <div class="credit-category">
                                ENGR
                            </div>
                    <div class="input-button-group-container">
                        <div class="input-button-group">
                            <input name="creditengr" type="radio" value=0 ngModel>
                            <label class="button left">
                                0
                            </label>
                        </div>
                        <div class="input-button-group">
                            <input name="creditengr" type="radio" value=2 ngModel>
                            <label class="button middle">
                                2
                            </label>
                        </div>
                        <div class="input-button-group">
                            <input name="creditengr" type="radio" value=4 ngModel>
                            <label class="button right">
                                4
                            </label>
                        </div>
                    </div>
                </div>
                <div class="credit-group">
                    <div class="credit-category">
                            MTH
                        </div>
                    <div class="input-button-group-container">
                            <div class="input-button-group">
                                <input name="creditmth" type="radio" value=0 ngModel>
                                <label class="button left">
                                    0
                                </label>
                            </div>
                            <div class="input-button-group">
                                <input name="creditmth" type="radio" value=2 ngModel>
                                <label class="button middle">
                                    2
                                </label>
                            </div>
                            <div class="input-button-group">
                                <input name="creditmth" type="radio" value=4 ngModel>
                                <label class="button right">
                                    4
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="credit-group">
                        <div class="credit-category">
                                SCI
                            </div>
                        <div class="input-button-group-container">
                                <div class="input-button-group">
                                    <input name="creditsci" type="radio" value=0 ngModel>
                                    <label class="button left">
                                        0
                                    </label>
                                </div>
                                <div class="input-button-group">
                                    <input name="creditsci" type="radio" value=2 ngModel>
                                    <label class="button middle">
                                        2
                                    </label>
                                </div>
                                <div class="input-button-group">
                                    <input name="creditsci" type="radio" value=4 ngModel>
                                    <label class="button right">
                                        4
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="credit-group">
                            <div class="credit-category">
                                AHS
                            </div>
                            <div class="input-button-group-container">
                                    <div class="input-button-group">
                                        <input name="creditahs" type="radio" value=0 ngModel>
                                        <label class="button left">
                                            0
                                        </label>
                                    </div>
                                    <div class="input-button-group">
                                        <input name="creditash" type="radio" value=2 ngModel>
                                        <label class="button middle">
                                            2
                                        </label>
                                    </div>
                                    <div class="input-button-group">
                                        <input name="creditahs" type="radio" value=4 ngModel>
                                        <label class="button right">
                                            4
                                        </label>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>





            <div class="buttons is-right">
                <button class="button is-medium" routerLink="/main-view">Cancel</button>

                <button class="button is-primary has-text-white is-medium" type="submit">Create</button>
            </div>
        </form>



    </div>


</div>